# Исключаем виртуальное окружение
.venv/

# Исключаем файлы и папки сборки
build/
dist/
*.egg-info/

# Исключаем временные файлы Python
__pycache__/
*.py[cod]
*.pyo

# Исключаем конфигурационные файлы IDE/редактора
.vscode/
.idea/
*.swp

# Исключаем системные файлы
.DS_Store
Thumbs.db

# Исключаем файлы управления системой контроля версий
.git/
.gitignore
*.log

# Исключаем файлы конфигурации Docker (если есть лишние)
Dockerfile*
docker-compose.yml
